<a href="https://colab.research.google.com/github/SHASHANKV9611/ABC-Tech-ITSM---ML/blob/main/ABC_Tech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pymysql
!pip install mysql-connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 KB 4.7 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 113.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp38-cp38-linux_x86_64.whl size=247965 sha256=4cf5e55d2106d6d0b4f9cc0d7a564813d5ff2e72b9c2b15a8513d331bb85018b
  Stored in directory: /root/.cache/pip/wheels/57/e4/98/5feafb5c393dd2540e44b064a6f95832990d543e5b4f53ea8f
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [3]:
import os
import mysql.connector
import pandas as pd
import numpy as np

In [51]:
connection=mysql.connector.connect(host = '18.136.157.135',user='dm_team', port='3306',password='DM!$Team@&27920!')

In [52]:
cursor=connection.cursor()
cursor.execute('show databases')
for i in cursor:
    print(i)

('information_schema',)
('project_itsm',)

In [53]:
connection=mysql.connector.connect(host = '18.136.157.135',user='dm_team', port='3306',password='DM!$Team@&27920!',database='project_itsm')

In [54]:
db_tables=pd.read_sql_query('show tables',connection)
print(db_tables)

  Tables_in_project_itsm
0           dataset_list

In [55]:
query = "select * from dataset_list" # SQL statement
output = pd.read_sql(query,connection)
print(output.shape)
output

(46606, 25)

,CI_Name,CI_Cat,CI_Subcat,WBS,Incident_ID,Status,Impact,Urgency,Priority,number_cnt,Category,KB_number,Alert_Status,No_of_Reassignments,Open_Time,Reopen_Time,Resolved_Time,Close_Time,Handle_Time_hrs,Closure_Code,No_of_Related_Interactions,Related_Interaction,No_of_Related_Incidents,No_of_Related_Changes,Related_Change
0,SUB000508,subapplication,Web Based Application,WBS000162,IM0000004,Closed,4,4,4,0.601292279,incident,KM0000553,closed,26,05-02-2012 13:32,,04-11-2013 13:50,04-11-2013 13:51,"3,87,16,91,111",Other,1,SD0000007,2,,
1,WBA000124,application,Web Based Application,WBS000088,IM0000005,Closed,3,3,3,0.415049969,incident,KM0000611,closed,33,12-03-2012 15:44,02-12-2013 12:31,02-12-2013 12:36,02-12-2013 12:36,"4,35,47,86,389",Software,1,SD0000011,1,,
2,DTA000024,application,Desktop Application,WBS000092,IM0000006,Closed,NS,3,NA,0.517551335,request for information,KM0000339,closed,3,29-03-2012 12:36,,13-01-2014 15:12,13-01-2014 15:13,"4,84,31,19,444",No error - works as designed,1,SD0000017,,,
3,WBA000124,application,Web Based Application,WBS000088,IM0000011,Closed,4,4,4,0.642927218,incident,KM0000611,closed,13,17-07-2012 11:49,,14-11-2013 09:31,14-11-2013 09:31,"4,32,18,33,333",Operator error,1,SD0000025,,,
4,WBA000124,application,Web Based Application,WBS000088,IM0000012,Closed,4,4,4,0.345258343,incident,KM0000611,closed,2,10-08-2012 11:01,,08-11-2013 13:55,08-11-2013 13:55,"3,38,39,03,333",Other,1,SD0000029,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46601,SBA000464,application,Server Based Application,WBS000073,IM0047053,Closed,4,4,4,0.23189604,incident,KM0001314,closed,0,31-03-2014 16:23,,31-03-2014 16:29,31-03-2014 16:29,"0,095",Other,1,SD0147021,,,
46602,SBA000461,application,Server Based Application,WBS000073,IM0047054,Closed,4,4,4,0.805153085,incident,KM0002360,closed,0,31-03-2014 15:03,,31-03-2014 15:29,31-03-2014 15:29,"0,428333333",User error,1,SD0146967,,,
46603,LAP000019,computer,Laptop,WBS000091,IM0047055,Closed,5,5,5,0.917466294,incident,KM0000315,closed,0,31-03-2014 15:28,,31-03-2014 15:32,31-03-2014 15:32,"0,071666667",Hardware,1,SD0146982,,,
46604,WBA000058,application,Web Based Application,WBS000073,IM0047056,Closed,4,4,4,0.701278158,incident,KM0001287,closed,0,31-03-2014 15:35,,31-03-2014 15:42,31-03-2014 15:42,"0,116944444",Software,1,SD0146986,,,
46605,DCE000077,hardware,DataCenterEquipment,WBS000267,IM0047057,Closed,3,3,3,0.902319509,incident,KM0000182,closed,0,31-03-2014 17:24,,31-03-2014 22:47,31-03-2014 22:47,"0,586388889",Hardware,1,SD0147088,,,

In [56]:
pd.set_option("display.max_columns",25)

In [57]:
output.head(10)

,CI_Name,CI_Cat,CI_Subcat,WBS,Incident_ID,Status,Impact,Urgency,Priority,number_cnt,Category,KB_number,Alert_Status,No_of_Reassignments,Open_Time,Reopen_Time,Resolved_Time,Close_Time,Handle_Time_hrs,Closure_Code,No_of_Related_Interactions,Related_Interaction,No_of_Related_Incidents,No_of_Related_Changes,Related_Change
0,SUB000508,subapplication,Web Based Application,WBS000162,IM0000004,Closed,4,4,4,0.601292279,incident,KM0000553,closed,26,05-02-2012 13:32,,04-11-2013 13:50,04-11-2013 13:51,"3,87,16,91,111",Other,1,SD0000007,2,,
1,WBA000124,application,Web Based Application,WBS000088,IM0000005,Closed,3,3,3,0.415049969,incident,KM0000611,closed,33,12-03-2012 15:44,02-12-2013 12:31,02-12-2013 12:36,02-12-2013 12:36,"4,35,47,86,389",Software,1,SD0000011,1,,
2,DTA000024,application,Desktop Application,WBS000092,IM0000006,Closed,NS,3,NA,0.517551335,request for information,KM0000339,closed,3,29-03-2012 12:36,,13-01-2014 15:12,13-01-2014 15:13,"4,84,31,19,444",No error - works as designed,1,SD0000017,,,
3,WBA000124,application,Web Based Application,WBS000088,IM0000011,Closed,4,4,4,0.642927218,incident,KM0000611,closed,13,17-07-2012 11:49,,14-11-2013 09:31,14-11-2013 09:31,"4,32,18,33,333",Operator error,1,SD0000025,,,
4,WBA000124,application,Web Based Application,WBS000088,IM0000012,Closed,4,4,4,0.345258343,incident,KM0000611,closed,2,10-08-2012 11:01,,08-11-2013 13:55,08-11-2013 13:55,"3,38,39,03,333",Other,1,SD0000029,,,
5,WBA000124,application,Web Based Application,WBS000088,IM0000013,Closed,4,4,4,0.006675648,incident,KM0000611,closed,4,10-08-2012 11:27,,08-11-2013 13:54,08-11-2013 13:54,"3,38,34,36,944",Other,1,SD0000031,,,
6,WBA000082,application,Web Based Application,WBS000055,IM0000014,Closed,4,4,4,0.19290712,incident,KM0000401,closed,2,15-08-2012 14:17,,27-12-2013 10:59,27-12-2013 10:59,"3,70,31,91,389",Unknown,1,SD0000033,,,
7,WBA000124,application,Web Based Application,WBS000088,IM0000015,Closed,4,4,4,0.996467545,incident,KM0000611,closed,5,22-08-2012 16:31,,08-11-2013 14:09,08-11-2013 14:09,"3,29,46,24,167",Other,1,SD0000034,,,
8,WBA000124,application,Web Based Application,WBS000088,IM0000017,Closed,NS,3,NA,0.269573825,incident,KM0000611,closed,2,29-08-2012 15:59,,08-11-2013 14:02,08-11-2013 14:02,"0,862777778",Other,1,SD0000036,,,
9,WBA000082,application,Web Based Application,WBS000055,IM0000018,Closed,4,4,4,0.306670312,incident,KM0000401,closed,2,03-09-2012 16:04,,08-11-2013 14:33,08-11-2013 14:35,"3,21,15,26,944",No error - works as designed,1,SD0000037,,,

In [58]:
def value_count(df):
  for column in df:
    print()
    print('The value counts of {} column is'.format('\033[1m'+ column + '\033[0m'))
    print()
    print(df[column].value_counts())
    print('------------------------------------------------------------------')

In [ ]:
value_count(output)

In [74]:
def space(df):
  for column in df:
    df[column] = df[column].str.replace(r'[\x00-\x19]', '').replace('', 'miss')
    if output[column].str.contains('miss').any():
       print('Total {} replacement happened for {} column '.format(df[column].value_counts()['miss'],column))

In [75]:
space(output)

<ipython-input-74-cc012f4de9b4>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = df[column].str.replace(r'[\x00-\x19]', '').replace('', 'miss')

Total 111 replacement happened for CI_Cat column
Total 111 replacement happened for CI_Subcat column
Total 1 replacement happened for No_of_Reassignments column
Total 44322 replacement happened for Reopen_Time column
Total 1780 replacement happened for Resolved_Time column
Total 1 replacement happened for Handle_Time_hrs column
Total 460 replacement happened for Closure_Code column
Total 114 replacement happened for No_of_Related_Interactions column
Total 45384 replacement happened for No_of_Related_Incidents column
Total 46046 replacement happened for No_of_Related_Changes column
Total 46046 replacement happened for Related_Change column